<!DOCTYPE html>
<html ng-app="pace">
<head>
    <title>Lilypad</title>

    <!-- For that native webapp experience -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="apple-touch-icon" href="images/icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/icon-72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/icon@2x.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/icon-72@2x.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/aller/aller.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/widgets.css">

    <!-- angular -->
    <script src="lib/angular.js"></script>
    <script src="lib/angular-touch.js"></script>

    <!-- third-party packages -->
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-relational.js"></script>
    <script src="lib/moment.js"></script>

    <!-- google visualization library -->
    <script src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart']});
    </script>

    <!-- modules -->
    <script src="modules/underscore.js"></script>
    <script src="modules/backbone.js"></script>
    <script src="modules/moment.js"></script>
    <script src="modules/widgets.js"></script>
    <script src="modules/mixpanel.js"></script>

    <!-- app -->
    <script src="app.js"></script>

    <!-- common models -->
    <script src="app/common/models/classroom.js"></script>
    <script src="app/common/models/student.js"></script>
    <script src="app/common/models/attendanceSpan.js"></script>
    <script src="app/common/models/periodicRecord.js"></script>
    <script src="app/common/models/pointLoss.js"></script>
    <script src="app/common/models/behaviorIncident.js"></script>
    <script src="app/common/models/behaviorIncidentType.js"></script>
    <script src="app/common/models/loggableMixin.js"></script>

    <!-- common data stores -->
    <script src="app/common/stores/classroomDataStore.js"></script>
    <script src="app/common/stores/dailyDataStore.js"></script>
    <script src="app/common/stores/behaviorTypeDataStore.js"></script>

    <!-- common services -->
    <script src="app/common/services/apiConfig.js"></script>
    <script src="app/common/services/timeTracker.js"></script>
    <script src="app/common/services/jsonCaseTransformer.js"></script>

    <script src="app/common/filters.js"></script>

    <script src="services/rules/rulesDataStore.js"></script>

    <!-- Core UI components: main skeleton, menu, tabs, etc. -->
    <script src="app/core/controllers/menu.js"></script>
    <script src="app/core/controllers/classroomList.js"></script>
    <script src="app/core/controllers/studentList.js"></script>
    <script src="app/core/controllers/mainContent.js"></script>
    <script src="app/core/controllers/todayStatus.js"></script>
    <script src="app/core/services/periodSwitcher.js"></script>

    <script src="app/core/directives/mainComponents.js"></script>

    <!-- AUTH COMPONENTS -->
    <!-- general auth services -->
    <script src="app/auth/services/sessionManager.js"></script>
    <script src="app/auth/services/requestAuthInjector.js"></script>

    <!-- login prompt -->
    <script src="app/auth/controllers/loginPrompt.js"></script>


    <!-- COLLECT COMPONENTS -->
    <script src="app/collect/controllers/studentCollect.js"></script>
    <script src="app/collect/controllers/incidentLog.js"></script>
    <script src="app/collect/controllers/behaviorSettings.js"></script>

    <!-- Run final app config & run routines after all providers are registered -->
    <script src="app/config.js"></script>
    <script src="app/run.js"></script>

    <script src="devmain.js"></script>
</head>

<body>
    <div id="orientationNotice">
        <h2>Please rotate your iPad to landscape to use Lilypad.</h2>
    </div>

    <div id="login" ng-show="!viewState.isUserAuthenticated"
                    ng-controller="LoginPromptCtrl"
                    ng-include="'app/auth/views/loginPrompt.html'"></div>

    <div id="sidebar" ng-show="viewState.isUserAuthenticated">
        <div id="menu" ng-controller="MenuCtrl"
                       ng-include="'app/core/views/sidebar.html'"></div>
    </div>

    <div id="main" ng-show="viewState.isUserAuthenticated">
        <!-- TODO: renable disabling main content on attendance editing. set up broadcast message? -->
        <div class="mainContent"
          ng-class="{disabled: false}"
          ng-controller="MainContentCtrl">
                <main-tabs>
                    <h1 class="studentName"><strong>{{studentLabel}}</strong></h1>
                    <main-pane title="Collect">
                        <div id="todayStatusBar" class="clearfix"
                             ng-controller="TodayStatusBarCtrl"
                             ng-include="'app/core/views/todayStatus.html'">
                        </div>
                        <div ng-controller="StudentCollectCtrl">
                            <div ng-include="'app/collect/views/studentCollect.html'"></div>
                        </div>
                    </main-pane>
                    <main-pane title="Analyze">
                        Analyze content
                    </main-pane>
                   <!--
                    <main-pane title="Discuss">
                        Discuss tab
                    </main-pane>
                    -->
                </main-tabs>
            </div>
        </div>
    </div>

    <div id="main" ng-controller="devCtrl" ng-if="0">
        <!-- in development testing code -->
        <div><em>{{status}}</em></div>
        <ul>
            <li ng-repeat="classroom in classrooms">
                <a href="" ng-click="loadClassroom(classroom)">{{classroom.get('name')}}</a>
            </li>
        </ul>
        <div ng-show="classroom">
            <h1>Classroom: {{classroom.get('name')}}</h1>
            <div ng-show="todayRecord">
                <ul>
                    <li>{{todayRecord.date}}</li>
                    <li>{{todayRecord.currentPeriod}}</li>
                    <button ng-show="todayRecord && todayRecord.currentPeriod === null" ng-click="startDailyRecord()">Start this day</button>
                    <button ng-show="todayRecord.currentPeriod" ng-click="loadStudentData()">Load student data</button>
                </ul>
            </div>
            <h2>Students ({{students.length}})</h2>
            <ul>
                <li ng-repeat="student in students.models">{{student.get('firstName')}}: {{student.get('todayData').attendanceSpans.length}} / {{student.get('todayData').behaviorIncidents.length}} / {{student.get('todayData').periodicRecords.length}}</li>
            </ul>
        </div>
    </div>

    <script>
        // For development purposes. Simply call `_injector.get('serviceName')` to get a service instance.
        angular.module('pace').run(function ($injector) {
            window._injector = $injector;
        });
    </script>

</body>
</html>
