<!DOCTYPE html>
<html ng-app="pace">
<head>
    <title>Lilypad - Pace</title>

    <!-- For that native webapp experience -->
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/aller/aller.css">
    <link rel="stylesheet" href="styles/app.css">
    <link rel="stylesheet" href="styles/widgets.css">

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>

    <!-- modules -->
    <script src="modules/underscore.js"></script>
    <script src="modules/modules.js"></script>
    <script src="modules/widgets.js"></script>

    <!-- app -->
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="menu/menu.js"></script>
    <script src="menu/studentList.js"></script>
    <script src="main/main.js"></script>
    <script src="main/student.js"></script>


</head>
<body>
    <div id="sidebar">
        <div id="logo">
        </div>
        <div id="menu" ng-controller="MenuCtrl">
            <!-- Different menu views go here class list, student list etc.-->
            <!-- We will need to implement this later using ng-switch-->
            <!-- Every menu view would get its own controller-->
            <div ng-controller="MenuStudentListCtrl">
                <menu>
                    <menu-item ng-click="$parent.toggleAttendance()">
                        <ng-switch on="attendance">
                            <span ng-switch-default>EDIT ATTENDANCE</span>
                            <span ng-switch-when="true">SAVE ATTENDANCE</span>
                        </ng-switch>
                    </menu-item>
                    <menu-item ng-class="{selected: currentStudentId == student._id && !attendance}" ng-repeat="student in students">
                         <div ng-click="$parent.handleClick(student._id)">
                            <strong>{{student.first_name}}</strong> {{student.last_name}}
                            <ng-switch on="attendance">
                                <span class="circle attendance" ng-class="{absent: !student.present}" ng-switch-when="true"></span>
                            </ng-switch>
                        </div>
                    </menu-item>
                </menu>
            </div>
        </div>
    </div>
    <div id="main" ng-controller="MainCtrl">
        <ng-switch on="view">
            <div id="student" ng-switch-when="student" ng-controller="MainStudentCtrl" >
                <div class="mainContent" ng-class="{disabled: (attendance || behaviorModalActive)}">
                    <main-tabs>
                            <h1><strong>{{student.first_name}}</strong> {{student.last_name}}</h1> <button ng-click="showSettings()">Settings</button>
                            <main-pane disabled="!student.present" title="Collect">
                                Collect stuff
                            </main-pane>
                            <main-pane title="Analyze">
                                Analyze stuff
                            </main-pane>
                            <main-pane title="Discuss">
                                Discuss stuff
                            </main-pane>
                    </main-tabs>
                </div>
                <main-modal active="behaviorModalActive" title="STUDENT BEHAVIORS" >
                    <div ng-controller="behaviorModalCtrl">
                        <ng-switch on="addingBehavior">
                            <div ng-switch-default>
                                <button ng-click="showAddBehavior()">Add Behavior</button>
                            </div>
                            <section ng-switch-when="true">
                                <div class="clearfix">
                                    <div id="behaviorNameInput">
                                        <h3>Behavior Description</h3>
                                        <input type="text" placeholder="e.g. 'Physical Aggression'" ng-model="$parent.description"/>
                                    </div>
                                    <buttonset id="behaviorTypeInput" options="behaviorTypes" value="$parent.selectedBehaviorType" label="Behavior Type"></buttonset>
                                </div>
                                <div class="modalSubmit clearfix">
                                    <button ng-click="saveBehavior()">Save Behavior</button>
                                    <button ng-click="hideAddBehavior()">Cancel</button>
                                </div>
                            </section>
                        </ng-switch>

                    </div>
                </main-modal>
            </div>
            <div ng-switch-default>
                <h1>default screen</h1>
        </div>
        </ng-switch>
    </div>
</body>
</html>