<div id="periodicBehaviors">
    {{pointValues.bs}} <button ng-click="decrementCategory('bs')">&darr;</button>
    {{pointValues.kw}} <button ng-click="decrementCategory('kw')">&darr;</button>
    {{pointValues.cw}} <button ng-click="decrementCategory('cw')">&darr;</button>
    {{pointValues.fd}} <button ng-click="decrementCategory('fd')">&darr;</button>
    <!-- Disabling counter directives during development
    <div id="periodBehaviorCounters">
        <counter class="bs" value="pointValues.bs" dec="true" dec-fn="decrement('bs')" max="2"
                 min="0"
                 text="Be Safe" id="student.get('id')"></counter>
        <counter class="kw" value="pointValues.kw" dec="true" dec-fn="decrement('kw')" max="2"
                 min="0"
                 text="Kind Words" id="student.get('id')"></counter>
        <counter class="cw" value="pointValues.cw" dec="true" dec-fn="decrement('cw')" max="2"
                 min="0"
                 text="Complete Work" id="student.get('id')"></counter>
        <counter class="fd" value="pointValues.fd" dec="true" dec-fn="decrement('fd')" max="2"
                 min="0"
                 text="Follow Directions" id="student.get('id')"></counter>
    </div> -->
</div>
