Status: {{statusMessage}}
<br>
BehaviorIncidents: {{collectData.periodicRecords.length}}
<br>
PeriodicRecords: {{collectData.behaviorIncidents.length}}

<!-- <div ng-show="collectData">
    <div ng-controller="MainStudentCollectPeriodicRecordCtrl">
        <div ng-include="'frontEnd/main/student/collect/periodicRecord.html'"></div>
    </div>
    <div class="divider clear"></div>
    <div ng-controller="MainStudentCollectIncidentLogCtrl">
        <div ng-include="'frontEnd/main/student/collect/incidentLog.html'"></div>
    </div>
</div>
<div ng-show="statusMessage">{{statusMessage}}</div>

 -->
