<main-modal active="data.behaviorModalActive" title="STUDENT BEHAVIORS">
    <div ng-controller="MainStudentCollectBehaviorsModalCtrl">
        <table>
            <thead>
            <tr>
                <th>Behavior</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr class="input">
                <td colspan="2" ng-click="openNewBehavior()">
                    Add<span ng-show="addingBehavior">ing</span> Behavior
                </td>
            </tr>
            <tr ng-show="addingBehavior">
                <td>
                    <input type="text" placeholder="Label" ng-model="label"/>
                </td>
                <td>
                    <buttonset id="behaviorTypeInput" options="behaviorTypes"
                               value="data.selectedBehaviorType"></buttonset>
                </td>
                <td>

                </td>
            </tr>
            <tr ng-show="addingBehavior">
                <td colspan="2">
                    <button ng-click="closeNewBehavior()">Cancel</button>
                    <button class="main" ng-click="submitNewBehavior()">Submit
                    </button>
                </td>
            </tr>
            <tr ng-repeat="studentType in studentTypes">
                <td>{{studentType.get('label')}}</td>
                <td>{{studentType.get('supportsDuration') | supportsDuration}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</main-modal>