container_commands:
  01_syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true

  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  03_createadmin:
    command: "server/scripts/createadmin.py"
    leader_only: true

  04_collectstatic:
    command: "django-admin.py collectstatic --noinput"


option_settings:
  - namespace: "aws:elasticbeanstalk:container:python"
    option_name: WSGIPath
    value: "server/lilypad_server/wsgi.py"

  - namespace: "aws:elasticbeanstalk:container:python:staticfiles"
    option_name: "/static/"
    value: "client/"

  - option_name: DJANGO_SETTINGS_MODULE
    value: "lilypad_server.settings.production_aws"

  - option_name: PYTHONPATH
    value: "server/"

# Notes:
# - don't forget to set the SECRET_KEY in the .elasticbeanstalk/optionsttings.* file
# - also be sure to delete any reference to DJANGO_SETTINGS_MODULE in that file
# - after deploying for the first time, be sure to change the default superuser password set up in createadmin.py
