
<div class="clearfix">
    <div class="buttonGroup">
        <button class="editIncident" ng-click="editIncidents()" ng-class="{ highlighted: editingIncidents }">
            <span ng-show="!editingIncidents">Edit Incidents</span>
            <span ng-show="editingIncidents">Save Incidents</span>
        </button>
        <button class="newIncident" ng-click="showBehaviorModel()">Add Incident</button>
    </div>
</div>
<div id="behaviorIncidentsTable">
    <table class="log">
        <tr>
            <th class="delete" ng-show="editingIncidents"></th>
            <th class="time">Time</th>
            <th class="label">Incident</th>
            <th class="duration">Duration</th>
            <th class="comment">Comment</th>
        </tr>
        <tr ng-repeat="logEntry in collectData.incidentLogCollection.models">
            <td class="delete" ng-show="editingIncidents" ng-click="confirmDelete(logEntry)">
                <div class="deleteCircle" ng-class="{active:(confirmDeleteFor != null) && (confirmDeleteFor.id == logEntry.id)}">-</div>
            </td>
            <td class="time" ng-click="showBehaviorModel(logEntry)">{{logEntry.getOccurredAt() | date: 'h:mm a'}}</td>
            <td class="label" ng-click="showBehaviorModel(logEntry)">{{logEntry.getLabel()}}</td>
            <td class="duration" ng-click="showBehaviorModel(logEntry)">{{logEntry.getDuration() | duration}}</td>
            <td class="comment">
                <span ng-click="showBehaviorModel(logEntry)">{{logEntry.getComment()}}</span>
                <span class="deleteBtn" ng-show="(confirmDeleteFor != undefined) && (confirmDeleteFor.id == logEntry.id)" ng-click="removeIncident(logEntry)">Delete</span>
            </td>
        </tr>
    </table>
    <div class="noData" ng-hide="collectData.incidentLogCollection.models.length > 0">No incidents yet logged</div>
</div>

<main-modal display-state="behaviorModalState">
    <div ng-controller="MainStudentCollectBehaviorsModalCtrl">
        <div ng-include="'/lilypad-client/lilypad-pace/frontend/partials/behaviorSettings.html'"></div>
    </div>
</main-modal>