
<div class="clearfix">
    <div class="buttonGroup">
         <!-- TODO: Fix this janky buttons -->
        <!-- TODO: implement editing of existing incidents -->
        <button class="settings" ng-click="$parent.showSettings()"></button>
        <button ng-click="openNewIncident()">+</button>
    </div>
</div>
<div class="bordered" ng-show="addingIncident">
    <h3>Adding Incident</h3>
    <ng-include src="'/lilypad-client/lilypad-pace/frontend/partials/behaviorIncident.html'"></ng-include>
</div>
<!-- TODO: Display message for empty behaviorLog-->
<div id="behaviorIncidentsTable">
    <table class="log">
        <tr>
            <th>Time</th>
            <th>Incident</th>
            <th>Duration</th>
            <th>Comment</th>
        </tr>
        <tr ng-repeat="logEntry in incidentLogCollection.models">
            <td>{{logEntry.getOccurredAt() | date: 'h:mm'}}</td>
            <td>{{logEntry.getLabel()}}</td>
            <!-- TODO: Fix duration -->
            <td>{{logEntry.getDuration() | duration}}</td>
            <!-- TODO: Truncate comments so they don't screw up the table -->
            <td>{{logEntry.getComment()}}</td>
        </tr>
    </table>
</div>
<main-modal active="data.behaviorModalActive" title="STUDENT BEHAVIORS">
    <ng-include src="'/lilypad-client/lilypad-pace/frontend/partials/behaviorSettings.html'" ng-controller="MainStudentCollectBehaviorsModalCtrl"></ng-include>
</main-modal>
