<form name="analyze" class="clearfix">
    <select ng-init="analyzeView = views[0]" ng-model="analyzeView" ng-options="v.name for v in views"></select>

    <span ng-show="analyzeView == views[0] && hasTreatmentPeriods" class="treatmentPeriodPicker">

        <span><label>
          <p>&nbsp;</p>
          <select ng-model="endTX">
            <option
              ng-repeat = "treatmentPeriod in treatmentPeriods.models"
              ng-value = "$index + 1"
              ng-selected = "$last" >

              TX {{treatmentPeriod.attributes.id}} - {{treatmentPeriod.attributes.dateEnd | date: 'M/d'}}
            </option>
          </select>
        </label></span>

        <span><label>
          <p>&nbsp;</p>
          <select ng-model="duration">
            <option
              ng-repeat = "i in range(endTX) track by $index"
              ng-value = "$index + 1"
              ng-selected = "$first" >

              View {{$index + 1}} TX
            </option>
          </select>
          <br>
        </label></span>

    </span>
</form>
<div class="divider clear"></div>
<div ng-include="analyzeView.url" ></div>
