<div ng-controller="AnalyzeBehaviorLogCtrl">
    <table class="log">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Incident</th>
            <th>Duration</th>
            <th>Comment</th>
        </tr>
        <tr ng-repeat="logEntry in behaviorLogCollection.models">
            <td>{{logEntry.getOccurredAt() | date: 'M/d'}}</td>
            <td>{{logEntry.getOccurredAt() | date: 'h:mm a'}}</td>
            <td>{{logEntry.getLabel()}}</td>
            <td>{{logEntry.getDuration() | duration}}</td>
            <td>{{logEntry.getComment()}}</td>
        </tr>
    </table>
    <div class="dataStatus" ng-show="statusMessage">{{statusMessage}}</div>
</div>

