<div ng-controller="AnalyzeRulesCtrl">
    <div ng-show="summaryData">
        <div id="rules-visualization"></div>

        <!-- Temporarily hard coded, waiting on finalized mocks -->
        <div id="rules" ng-show="summaryData.bs.percentage">

            <div class="rule">
                <p class="rulename bs">Be <br/>Safe</p>
                <p class="percentage">{{ summaryData.bs.percentage + "%"}}</p>
                <p>{{ summaryData.bs.acquired + " / " + summaryData.bs.eligible }}</p>
            </div>

            <div class="rule">
                <p class="rulename kw">Kind <br/>Words</p>
                <p class="percentage">{{ summaryData.kw.percentage + "%"}}</p>
                <p>{{ summaryData.kw.acquired + " / " + summaryData.kw.eligible }}</p>
            </div>

            <div class="rule">
                <p class="rulename cw">Complete Work</p>
                <p class="percentage">{{ summaryData.cw.percentage + "%"}}</p>
                <p>{{ summaryData.cw.acquired + " / " + summaryData.cw.eligible }}</p>
            </div>

            <div class="rule">
                <p class="rulename fd">Follow Directions</p>
                <p class="percentage">{{ summaryData.fd.percentage + "%"}}</p>
                <p>{{ summaryData.fd.acquired + " / " + summaryData.fd.eligible }}</p>
            </div>

            <div class="rule selected">
                <p class="rulename">Total</p> <br/>
                <p class="percentage">{{ summaryData.total.percentage + "%"}}</p>
                <p>{{ summaryData.total.acquired + " / " + summaryData.total.eligible }}</p>
            </div>
        </div>
    </div>
    <div class="dataStatus" ng-show="statusMessage">{{statusMessage}}</div>
</div>