<div ng-controller="AnalyzeTreatmentReportCtrl">
    <div class="treatmentReport" ng-show="isDataLoaded">
        <div class="divider"></div>
        <h4 class>Behaviors</h4>
        <table class="log">
            <tr>
                <th></th>
                <th>Follow Directions</th>
                <th>Complete Work</th>
                <th>Kind Words</th>
                <th>Be Safe</th>
            </tr>
            <tr>
                <td>6/7/2013</td>
                <td>87.6%</td>
                <td>75.6%</td>
                <td>90.3%</td>
                <td>85.0%</td>
            </tr>
            <tr>
                <td>6/7/2013</td>
                <td>87.6%</td>
                <td>75.6%</td>
                <td>90.3%</td>
                <td>85.0%</td>
            </tr>
            <tr>
                <td>6/7/2013</td>
                <td>87.6%</td>
                <td>75.6%</td>
                <td>90.3%</td>
                <td>85.0%</td>
            </tr>
        </table>
        <div id="behaviors-visualization" class="graph"></div>

        <div class="divider"></div>
        <h4>Time Out</h4>
        <table class="log">
            <tr>
                <th></th>
                <th>Treatment Period</th>
                <th>Frequency</th>
                <th>Avg Duration</th>
                <th>Min</th>
                <th>Max</th>
                <th>Total Time</th>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9 incidents</td>
                <td>13 min</td>
                <td>10 min</td>
                <td>15 min</td>
                <td>117 min</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9 incidents</td>
                <td>13 min</td>
                <td>10 min</td>
                <td>15 min</td>
                <td>117 min</td>
            </tr>
        </table>
        <div id="time-out-visualization" class="graph"></div>

        <div class="divider"></div>
        <h4>Out of Area</h4>
        <table class="log">
            <tr>
                <th></th>
                <th>Treatment Period</th>
                <th>Frequency</th>
                <th>Avg Duration</th>
                <th>Min</th>
                <th>Max</th>
                <th>Total Time</th>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9 incidents</td>
                <td>13 min</td>
                <td>10 min</td>
                <td>15 min</td>
                <td>117 min</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9 incidents</td>
                <td>13 min</td>
                <td>10 min</td>
                <td>15 min</td>
                <td>117 min</td>
            </tr>
        </table>
        <div id="out-of-area-visualization" class="graph"></div>

        <div class="divider"></div>
        <h4>Critical Incident Frequencies</h4>
        <table class="log">
            <tr>
                <th></th>
                <th>Treatment Period</th>
                <th>Out of Building</th>
                <th>Property Destruction</th>
                <th>Physical Restraint</th>
                <th>Physical Aggression</th>
                <th>Suicidal/Homicidal</th>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9</td>
                <td>13</td>
                <td>10</td>
                <td>15</td>
                <td>1</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9</td>
                <td>13</td>
                <td>10</td>
                <td>15</td>
                <td>1</td>
            </tr>
        </table>
        <table class="log">
            <tr>
                <th></th>
                <th>Treatment Period</th>
                <th>Absences</th>
                <th>Additional 1</th>
                <th>Additional 2</th>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9</td>
                <td>13</td>
                <td>10</td>
            </tr>
            <tr>
                <td>5</td>
                <td>5/18 - 6/7</td>
                <td>9</td>
                <td>13</td>
                <td>11</td>
            </tr>
        </table>
    </div>
    <div class="dataStatus" ng-show="statusMessage">{{statusMessage}}</div>
</div>
