<div id="classroomList" ng-class="{visible: viewState.selectedClassroom == null}"
     ng-controller="MenuClassroomListCtrl">
     <!-- use `visible` class here instead of ng-show/hide to enable CSS slide animation -->
    <ul>
        <li class="status" ng-show="statusMessage">{{statusMessage}}</li>
        <li ng-repeat="classroom in classroomCollection.models">
            <div ng-click="selectClassroom(classroom)">
                {{classroom.get('name')}}
            </div>
        </li>
    </ul>
</div>

<!-- classroom heading and edit button -->
<ul>
    <li id="classroomHeading" ng-class="{toggleActive: viewState.selectedClassroom && availableClassrooms.length > 1}"
                              ng-click="changeClassroom()">
        <span>{{viewState.selectedClassroom.get('name')}}</span>
    </li>
    <li id="attendanceToggle" ng-class="{highlighted: viewState.editingAttendance}"
        ng-show="viewState.selectedClassroom"
        ng-click="toggleAttendance()">
        <span ng-show="dailyDataStore.hasDayBegun">
            <span ng-show="viewState.editingAttendance">Done</span>
            <span ng-show="!viewState.editingAttendance">Edit Attendance</span>
        </span>
    </li>

</ul>

<div id="studentList" ng-show="viewState.selectedClassroom"
     ng-controller="MenuStudentListCtrl">
    <ul>
        <li ng-class="{selected: viewState.selectedStudent == student && !viewState.editingAttendance}"
            ng-repeat="student in studentCollection.models">
            <div ng-click="handleClick(student)" ng-class="{absent: isStudentAbsent(student)}">
                {{student.get('firstName')}} {{student.get('lastName')}}

                <!-- INSERT THE STUDENT'S DAILY TOTAL HERE -->
                <div class="dailyTotal">
                    <span class="pointsRetained">{{ 10 }}</span>&nbsp;/&nbsp;{{ 40 }}
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- Log out button -->
<ul>
    <li id="signout" ng-click="signOut()">
        <span>Sign Out</span>
    </li>
</ul>