<div class="clearfix header">
    <button class="close" ng-click="closeBehaviorModel()">Cancel</button>
    <h4>{{behaviorModalState.title}}</h4>
    <button class="close" ng-click="submitIncident()">Done</button>
</div>

<div class="behaviorSelection" ng-show="!currentIncidentEditing || !currentIncidentEditing.has('periodicRecord')">
    <div ng-show="addingBehaviorType">
        <form name="behavior" class="newBehaviorForm">
            <div class="clearfix">
                <span class="buttonGroup">
                    <button ng-click="closeNewBehaviorType()" class="cancel">Cancel</button>
                    <button class="main submit" ng-disabled="!behavior.$valid" ng-click="submitNewBehaviorType()">Done</button>
                </span>
            </div>
            <table class="behaviors">
                <tbody>
                <tr>
                    <td><input type="text" name="behaviorName" placeholder="Behavior Name" ng-model="behaviorTypeFormData.label" required/></td>
                </tr>
                <tr>
                    <td ng-class="{invalid: missingBehaviorType}"><buttonset id="behaviorTypeInput" options="behaviorTypes"
                               value="behaviorTypeFormData.selectedBehaviorType" required></buttonset></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="behaviorsTableWrapper" ng-show="!addingBehaviorType">
        <table class="behaviors" ng-class="{invalid: missingBehavior}">
            <tbody>
        <tr ng-repeat="studentType in collectData.behaviorTypeCollection.models"
            ng-click="setBehavior(studentType)"
            ng-class="{selected: incidentFormData.typeModel.get('label') == studentType.get('label')}">
                <td>{{studentType.get('label')}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <button ng-click="openNewBehaviorType()" class="newCustomBehavior" ng-class="{invalid: missingBehavior}">Add New Behavior +</button>
</div>
<div class="behaviorDetails">
    <form name="incident">
        <div class="clearfix">
            <label>
                <input ng-model="incidentFormData.startedAt" type="time" required/>
            </label>
            <label ng-show="incidentFormData.typeModel.get('supportsDuration')">
                <input type="time" ng-model="incidentFormData.endedAt"
                       ng-required="incidentFormData.typeModel.get('supportsDuration')" required/>
            </label>
        </div>
        <div>
            <textarea placeholder="Comment" ng-model="incidentFormData.comment" ng-class="{wide: currentIncidentEditing && currentIncidentEditing.has('periodicRecord')}"></textarea>
        </div>
    </form>
</div>