<div class="clearfix header">
    <button class="close" ng-click="closeBehaviorModel()">Cancel</button>
    <h4>{{behaviorModalState.title}}</h4>
    <button class="close" ng-click="submitIncident()">Done</button>
</div>

<div class="behaviorSelection">
    <div ng-show="addingBehavior">
        <form name="behavior" class="newBehaviorForm" ng-submit="submitNewBehavior()">
            <div class="clearfix">
                <span class="buttonGroup">
                    <button ng-click="closeNewBehavior()" class="cancel">Cancel</button>
                    <button class="main submit" ng-disabled="!behavior.$valid" ng-click="submitNewBehavior()">Done</button>
                </span>
            </div>
            <table class="behaviors">
                <tbody>
                <tr>
                    <td><input type="text" placeholder="Behavior Name" ng-model="data.label"/></td>
                </tr>
                <tr>
                    <td><buttonset id="behaviorTypeInput" options="behaviorTypes"
                               value="data.selectedBehaviorType"></buttonset></td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <table class="behaviors">
        <tbody>
        <tr ng-repeat="studentType in studentOnlyTypes" ng-click="setBehavior(studentType)" ng-class="{selected: type.label == studentType.get('label')}">
            <td>{{studentType.get('label')}}</td>
        </tr>
        </tbody>
    </table>
    <button ng-click="openNewBehavior()" class="newCustomBehavior">Add New Behavior +</button>
</div>
<div class="behaviorDetails">
    <form name="incident">
        <div class="clearfix">
            <label>
                <input ng-model="data.startedAt" type="time" required/>
            </label>
            <label ng-show="type.supports_duration">
                <input type="time" ng-model="data.endedAt"
                       ng-required="type.supports_duration"/>
            </label>
        </div>
        <div>
            <textarea placeholder="Comment" ng-model="data.comment"></textarea>
        </div>
    </form>
</div>