<!-- TODO: View for if there are zero logEntries -->
<div class="clearfix">
    <div class="buttonGroup">
        <button class="settings" ng-click="$parent.showSettings()"></button>
    </div>
</div>

<table class="log" ng-controller="MainStudentAnalyzeBehaviorLogCtrl">
    <tr>
        <th>Time</th>
        <th>Incident</th>
        <th>Duration</th>
        <th>Comment</th>
    </tr>
    <tr ng-repeat="logEntry in behaviorLog">
        <td>{{logEntry.getOccurredAt() | date: 'h:mm'}}</td>
        <td>{{logEntry.getLabel()}}</td>
        <td>{{logEntry.getDuration() | duration}}</td>
        <td>{{logEntry.getComment()}}</td>
    </tr>
</table>
