/*
    Green:          #48bea4

    Lighter gray:   #f9f9f9
    Light gray:     #f1f1f1
    Medium gray:    #8C8C8C
    Dark gray:      #333333

    Light border:   #B3B3B3
    Medium border:  #7F7F7F
    Dark border:    #333333

    Text:           #58585b
*/

/* App universal */

body {
    width: 1024px;
    height: 748px;
    overflow: hidden;
    color: #58585b;
    font-family: aller_lightregular;
    font-size: 18px;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 32px;
    margin-bottom: 0.5em;
}

h2 {
    float: left;
    font-size: 24px;
    line-height: 2;
}

h3 {
    width: 100%;
    font-size: 18px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    background-color: #f9f9f9;
}

strong {
    font-family: allerbold;
}

button {
    box-sizing: border-box;
    height: 44px;
    background-color: #f9f9f9;
    border: 1px solid #b3b3b3;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 18px;
    color: #58585b;
}

button.main {
    background-color: #48bea4;
    color: #fff;
}

button[disabled] {
    opacity: 0.5;
}

section {
    border: 1px solid #7f7f7f;
    padding: 1em;
}

input[type=text], input[type=password] {
    box-sizing: border-box;
    height: 44px;
    font-size: 14px;
}

select {
    margin-bottom: 1em;
}

table {
    width: 100%;
    border: 1px solid #b3b3b3;
}

th {
    font-family: allerbold;
    background-color: #f9f9f9 ;
}

.input {
    background-color: #f1f1f1;
    text-align: center;
}

tr {
    border-bottom: 1px solid #b3b3b3;
    border-top: 1px solid #b3b3b3;
}

td, th {
    border-right: 1px solid #b3b3b3;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 14px;
}

.disabled {
    position: relative;
}

.disabled::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
}

.disabled-striped::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #f9f9f9;
    background-image: repeating-linear-gradient(315deg, transparent, transparent 35px, rgb(255,255,255) 35px, rgb(255,255,255) 70px);
    opacity: 0.8;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.selected {
    background-color: #8c8c8c;
    color: #ffffff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.bordered {
    margin-bottom: 1em;
    border: 1px solid #b3b3b3;
}

.settings {
    background-image: url(../images/icon_settings.png);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em
}

#login {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;   
    bottom: 0;
    background-image: url(../images/background_login.png);
    background-position: center left;
    z-index: 1;
}

#login div {
    width: 500px;
    text-align: center;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

#login input {
    width: 200px;
    margin-left: 0.5em;
    background: none;
    color: #f9f9f9;
    border: 1px solid #f9f9f9;
}

#login label {
    color: #f9f9f9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.25em;
    display: block;
}

#login label:last-child {
    margin-bottom: 1em;
}

#login button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 92px; /* shim for old iOS safari */
    color: #48bea4;
}

.bs {
    background-color: #db6464;
}

.kw {
    background-color: #f5906c;
}

.cw {
    background-color: #648ec9;
}

.fd {
    background-color: #8a6aad;
}

/* App layout */

#sidebar {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 280px;
    height: 748px;
    border-right: 1px solid #CBCACA;
}

#logo {
    width: 100%;
    height: 42px;
    line-height: 2.7;
    background-color: #3DBEA5;
    color: #f9f9f9;
    box-sizing: border-box;
    text-align: center;
    font-size: 12pt;
    padding-left: 0px;
}

#menu {
    box-sizing: border-box;
    height: 704px;
    background-color: #f9f9f9;
    overflow: auto;
    padding-bottom: 44px;
}

#menu li {
    position: relative;
    line-height: 2.9;
    height: 56px;
    border-bottom: 1px solid #CBCACA;
    padding-left: 18px;
}

/*#menu li:last-child {*/
    /*border: none;*/
/*}*/

/*#menu:before {*/
    /*content:'';*/
    /*display:block;*/
    /*background: -moz-linear-gradient(top,   0%, rgba(249,249,249,1) 100%); *//* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(249,249,249,1))); *//* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(249,249,249,1) 100%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(249,249,249,1) 100%); *//* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(249,249,249,1) 100%); *//* IE10+ */
    /*background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(249,249,249,1) 100%); *//* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); *//* IE6-9 */
    /*position:absolute;*/
    /*bottom:0;*/
    /*left:0;*/
    /*width:100%;*/
    /*height:22px;*/
/*}*/

#main {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 744px;
    height: 100%;
}

.mainContent {
    padding: 0px 50px;
}

.mainTabs {
    box-sizing: border-box;
    display: inline-block;
    height: 44px;
    float: right;
    margin-right: -50px;
    background-color: #48bea4;
    color: #ffffff;
    padding-right: 15px;
}

.mainTabs li {
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    line-height: 2.5;
    font-family: aller_lightregular;
}

.tab-content {
    height: 704px;
    overflow: auto;
    padding-top: 35px;
}

.divider {
    border-bottom: 1px solid #B3B3B3;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.divider.clear {
    border-bottom: 0px solid #B3B3B3;
    height: 5px;
}

.buttonGroup {
    float: right;
    margin-bottom: 1em;
}

.buttonGroup button {
    margin-right: 1em;
}

.buttonGroup button:last-child {
    margin-right: 0;
}

form .buttonGroup {
    float: right;
}

form .buttonGroup button {
    margin-right: 0.25em;
}

.modal {
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    height: 80%;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #333333;
}

#menu #signout {
    background-image: url(../images/icon_signout.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    text-align: center;
}

#menu #attendanceToggle {
    background-image: url(../images/icon_attendance.png);
    background-repeat: no-repeat;
    background-position: 35px 15px;
    text-align: center;
    line-height: 3.3;
}

#menu #attendanceToggle.highlighted {
    background-color: #3DBEA5;
    color: #FFF;
}

/* Student Main Styles */

/*#behaviorIncidents {*/
    /*margin-top: 2em;*/
/*}*/

#behaviorTypeInput li {
    font-size: 14px;
    width: 120px;
}

/*#behaviorTypeInput li {*/
    /*width: 150px;*/
    /*font-size: 14px;*/
/*}*/

/*#behaviorNameInput {*/
    /*box-sizing: border-box;*/
    /*float: left;*/
    /*width: 300px;*/
    /*font-size: 14px;*/
/*}*/

#periodBehaviorCounters .frequency-counter {
    width: 23.5%;
    margin-right: 2%;
}

#periodBehaviorCounters .frequency-counter:last-child {
    margin-right: 0;
}

#periodicBehaviors select {
    float: right;
}

#periodBehaviorCounters {
    font-size: 0;
}

#behaviorIncidentsTable th:nth-child(1), #behaviorIncidentsTable td:nth-child(1) {
    width: 13%;
}

#behaviorIncidentsTable th:nth-child(2), #behaviorIncidentsTable td:nth-child(2) {
    width: 24%;
}

#behaviorIncidentsTable th:nth-child(3), #behaviorIncidentsTable td:nth-child(3) {
    width: 13%;
}

#behaviorIncidentsTable th:nth-child(4), #behaviorIncidentsTable td:nth-child(4) {
    width: 50%;
}

.noData {
    text-align: center;
    padding-top: 27px;
    height: 48px;
    border: 1px solid #b3b3b3;
    border-top: 0px;
    color: #98989F;
}

#discussions .post {
    border-top: 1px solid #b3b3b3;
    padding-top: 1em;
    padding-bottom: 1em;
}

#discussions .reply {
    margin-left: 50px;
}

#discussions .author {
    font-family: allerbold;
}

#discussions .date {
    float: right;
    color: #8c8c8c;
}

#discussions .post .header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

form {
    display: block;
}

.bordered form  {
    padding: 1em;
}

.bordered form label {
    float: left;
    margin-right: 2em;
}

.bordered form label:last-child {
    margin-right: 0;
}

form[name=behavior] input[type=text] {
    width: 340px;
}

form[name=incident] input[type=text] {
    width: 380px;
}

form[name=analyze] {
    position: relative
}

form[name=analyze] select {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

form[name=analyze] span {
    float: right;
}

form[name=analyze] span span:last-child {
    margin-right: 3em;
}

#nostudent{
    box-sizing: border-box;
    background-color: #ddd;

    font-size: 20px;
    text-align: center;

    padding-top: -webkit-calc(50% - 20px);
    height: 100%;
    width: 100%;
}

.studentName {
    text-transform: uppercase;
}