/*
    Green:          #48bea4

    Lighter gray:   #f9f9f9
    Light gray:     #f1f1f1
    Medium gray:    #8C8C8C
    Dark gray:      #333333

    Light border:   #B3B3B3
    Medium border:  #7F7F7F
    Dark border:    #333333

    Text:           #58585b
*/

/* App universal */

body {
    width: 1024px;
    height: 748px;
    overflow: hidden;
    color: #58585b;
    font-family: aller_lightregular;
    font-size: 18px;
    letter-spacing: 0.1em;
}

h1 {
    font-size: 32px;
    margin-bottom: 0.5em;
}

h2 {
    float: left;
    font-size: 24px;
    line-height: 2;
}

h3 {
    font-size: 18px;
}

strong {
    font-family: allerbold;
}

button {
    box-sizing: border-box;
    height: 44px;
    background-color: #f9f9f9;
    border: 1px solid #b3b3b3;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 18px;
    color: #58585b;
}

button.main {
    background-color: #48bea4;
    color: #fff;
}

section {
    border: 1px solid #7f7f7f;
    padding: 1em;
}

input[type=text] {
    box-sizing: border-box;
    font-size: 14px;
    width: 300px;
    height: 44px;
}

select {
    margin-bottom: 1em;
    font-size: 14px;
}

table {
    width: 100%;
    border: 1px solid #b3b3b3;
}

th {
    font-family: allerbold;
    background-color: #f9f9f9 ;
}

.input {
    background-color: #f1f1f1;
    text-align: center;
}

tr {
    border-bottom: 1px solid #b3b3b3;
    border-top: 1px solid #b3b3b3;
}

td, th {
    border-right: 1px solid #b3b3b3;
    padding: 1em 0.5em 1em 0.5em;
    font-size: 14px;
}

button.primary {
    background-color: #48bea4;
}

.disabled {
    position: relative;
}

.disabled::after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0.8;
}

.hidden {
    display: none;
}

.active {
    display: block;
}

.selected {
    background-color: #8c8c8c;
    color: #ffffff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.bs {
    background-color: #db6464;
}

.kw {
    background-color: #f5906c;
}

.cw {
    background-color: #648ec9;
}

.fd {
    background-color: #8a6aad;
}

/* App layout */

#sidebar {
    box-sizing: border-box;
    float: left;
    width: 254px;
    height: 748px;
}

#logo {
    width: 100%;
    height: 100px;
    background-color: #3DBEA5;
    color: #fff;
}

#menu {
    height: 648px;
    background-color: #f9f9f9;
    overflow: auto;
}

#menu li {
    line-height: 3;
    height: 4em;
    border-bottom: 1px solid #b3b3b3;
    padding-left: 1.5em;
}

#main {
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 770px;
    height: 100%;
}

.mainContent {
    padding: 0px 50px;
}

.mainTabs {
    box-sizing: border-box;
    display: inline-block;
    float: right;
    margin-right: -50px;
    background-color: #48bea4;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.mainTabs li {
    display: inline-block;
    width: 120px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    line-height: 2;
    font-family: aller_lightregular;
}

.divider {
    border-bottom: 1px solid #B3B3B3;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.buttonGroup {
    float: right;
    margin-bottom: 1em;
}

.buttonGroup button {
    margin-right: 1em;
}

.buttonGroup button:last-child {
    margin-right: 0;
}

.modal {
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    height: 80%;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #333333;
}

/* Student Main Styles */

/*#behaviorIncidents {*/
    /*margin-top: 2em;*/
/*}*/

#behaviorTypeInput li {
    font-size: 14px;
    width: 120px;
}

/*#behaviorTypeInput li {*/
    /*width: 150px;*/
    /*font-size: 14px;*/
/*}*/

/*#behaviorNameInput {*/
    /*box-sizing: border-box;*/
    /*float: left;*/
    /*width: 300px;*/
    /*font-size: 14px;*/
/*}*/

#periodBehaviorCounters .frequency-counter {
    width: 23.5%;
    margin-right: 2%;
}

#periodBehaviorCounters .frequency-counter:last-child {
    margin-right: 0;
}

#periodicBehaviors select {
    float: right;
}

#periodBehaviorCounters {
    font-size: 0;
}

#behaviorIncidentsTable {
    height: 350px;
    overflow: auto;
}

#discussions .post {
    border-top: 1px solid #b3b3b3;
    padding-top: 1em;
    padding-bottom: 1em;
}

#discussions .reply {
    margin-left: 50px;
}

#discussions .author {
    font-family: allerbold;
}

#discussions .date {
    float: right;
    color: #8c8c8c;
}

#discussions .post .header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.tableform, .tableform td {
    border: 0;
}







